.add-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 375px;


        
    a {
        text-decoration: none !important;
        color:#000;
    }
    
    table{
        display: flex;
        flex-direction: column;
        border-collapse: separate;
        border-spacing: 15px 15px;

        p{
            cursor: pointer;
        }
    }

    .content-infomation {
        display:flex;
    }

    .contents-status-platform{
        width:100%;
        display:flex;
        justify-content: space-between;

        .status, .platform {
            display:flex;
            justify-content: flex-start;
            width:100%;
            flex-direction: column;
            align-items: center;
                
        h2 {
            font-size:16px;
        }


        }

    }
    
}


