.add-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contnet-infomation {
        display:flex;
    }
    .status, .platform {
        display:flex;
        width:100%;
        overflow:scroll;
        margin:2px 0px;
    }

    h2 {
        font-size:16px;
    }
}

